{% extends 'deck/base.html' %}
{% load static %}
{% block content %}
<h1>You are adding a question</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'deck:question_add' %}" method="post">
 {% csrf_token %}
 {% if thanks_message %}<p><strong>{{ thanks_message }}</strong></p>{% endif %}
 <input type="text" name="question" id="question" value="your question">
 
<input type="submit" value="Add it">
</form>
<div class="nav-bar"></div>
  
<div id = "app">
  <div class="product">
    <div class="product-image">
      <img v-bind:src="image" >
      <P>You can see a web page with <a :href="image_url"> cool one here</a>
    </div>
    <div class="product-info">
      {% verbatim %}
      <h3>{{ product }}</h3>
      <h4>{{ description }}</h4>
      {% endverbatim %}
    </div>
    <script src="{% static 'js/main.js' %}"></script>
  </div>
</div>
{% endblock %}
