{% load static %}
<html>
    <head>
      <title>dEck</title>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>    </head>
    <body>
        <div class="page-header">
          <P>{{ login_stat }}</P>
	  <hr>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
